<div style="background-color: black;">
    <div style="display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(0, 0, 0, 0.966);
 height: 100vh;">

        <app-image-slider [slides]="slides" ></app-image-slider>
    </div>
    <div style="color:white;text-align:center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; padding: 5px;">
        <p style="font-size: 22px; margin-bottom: 0px;">SAN MARCO IN LAMIS</p>
        <p style="font-size: 12px;margin-top: 2px; color: rgba(255, 255, 255, 0.527);">Photo made by <a href="https://www.linkedin.com/in/antonietta-martino/" style="color: rgb(236, 123, 78);">AntoMar</a></p>
    </div>
</div>